<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div th:fragment="admin(main)">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:replace="common/base :: admin_sidebar"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div class="d-flex flex-column" id="content-wrapper">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:replace="common/base :: admin_topbar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <th:block th:replace="${main}"/>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; [[${options.site_title}]] [[${#dates.year(new java.util.Date().getTime())}]]</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div th:replace="common/footer :: admin_footer(_)">
        <!-- Page level plugins -->
        <script src="/yogo/static/admin/vendor/chart.js/Chart.min.js"
                th:src="@{/yg-content/admin/vendor/chart.js/Chart.min.js}"></script>

        <!-- Page level custom scripts -->
        <!--<script src="/yogo/static/admin/js/demo/chart-area-demo.js"-->
        <!--th:src="@{/yg-content/admin/js/demo/chart-area-demo.js}"></script>-->
        <!--<script src="/yogo/static/admin/js/demo/chart-pie-demo.js"-->
        <!--th:src="@{/yg-content/admin/js/demo/chart-area-demo.js}"></script>-->
    </div>

</div>

</body>
</html>