<!DOCTYPE html>
<html lang="zh">

<head>
    <title>编辑文章 ‹ yearliny — Yogo</title>
</head>

<body>


<!-- Begin Page Content -->
<div class="container-fluid px-2 ">
    <div class="row">
        <!-- editor -->
        <form class="w-100" method="post" action="#">
            <label for="editor" class="sr-only">写文章</label>
            <textarea id="editor" rows="15"></textarea>
        </form>
    </div>

</div>
<!-- /.container-fluid -->

<link rel="stylesheet" href="css/easymde.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

<script>
    window.onload = function () {
        const easyMDE = new EasyMDE({
            element: document.getElementById('editor'),
            autoDownloadFontAwesome: false,
            spellChecker: false,
            toolbar: [
                "bold", "italic", "heading", "|",
                "quote", "unordered-list", "ordered-list", "|",
                "link", "image", "|",
                "side-by-side", "fullscreen", "guide", "|",
                {
                    name: "submit-post",
                    className: "fas fa-check text-primary",
                    title: "Submit Post",
                    action: submit_post
                }
            ]
        });

        function submit_post() {
            const check = "fas fa-check text-primary";
            const spinner = "fas fa-spinner fa-spin text-primary";
            const button = document.querySelector("button.submit-post");
            const icon = button.querySelector("i");
            const value = easyMDE.value();
            button.classList.add("disable");
            icon.classList.value = spinner;
        }
    };

</script>
</body>

</html>
