<!DOCTYPE html>
<html th:replace="~{admin/layout/dashboard :: layout(~{::title}, 'post-edit', ~{::content})}" xmlns:th="http://www.thymeleaf.org" lang="zh">

<head>
    <title>编辑文章 ‹ [[${options.site_title}]] — Yogo</title>
</head>

<body>

<!-- Begin Page Content -->
<div class="container-fluid px-2 ">
    <div th:fragment="content" class="row">
        <!-- editor -->
        <form th:action="@{/yg-admin/edit}" class="w-100" method="post" action="#">
            <label for="editor" class="sr-only">写文章</label>
            <textarea th:text="${rawBody}" name="bodyRaw" id="editor" rows="15">12121</textarea>
            <button type="submit">提交</button>
        </form>
    </div>

</div>
<!-- /.container-fluid -->

<!--/* 编辑文章页面的引用 */-->
<th:block th:fragment="assets">
    <link rel="stylesheet" th:href="@{/assets/css/easymde.css}">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

    <script th:inline="javascript">
        let bodyRaw = [[${bodyRaw}]];
        window.onload = function () {
            const easyMDE = new EasyMDE({
                element: document.getElementById('editor'),
                autoDownloadFontAwesome: false,
                spellChecker: false
            });
            easyMDE.value(bodyRaw);
        };
    </script>
</th:block>

</body>

</html>
