<!DOCTYPE html>
<html th:replace="~{admin/layout/out :: layout(~{::title}, ~{::content})}" lang="zh-cn"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{install.head}">安装程序 ‹ Yogo</title>
</head>

<body>

<div class="p-5" th:fragment="content">
    <div class="text-center">
        <h1 th:text="#{install.title}" class="h4 text-gray-900 mb-4">欢迎使用 Yogo</h1>
    </div>

    <form class="user" th:action="@{/yg-install}" th:object="${installVO}" method="post">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}"
             th:each="err : ${#fields.errors('*')}">
            <p th:text="${err}"></p>
        </div>

        <input name="siteUrl" th:with="url=${#request.requestURL}" th:value="${url.substring(0, url.indexOf('/', 8))}" type="hidden">
        <div class="form-group">
            <label th:for="${#ids.next('siteTitle')}" th:text="#{field.siteTitle}" class="sr-only">网站标题</label>
            <input th:field="*{siteTitle}" th:placeholder="#{field.siteTitle}" type="text"
                   class="form-control form-control-user">
        </div>
        <div class="form-group">
            <label th:for="${#ids.next('siteDescription')}" th:text="#{field.siteDescription}" class="sr-only">网站描述</label>
            <input th:field="*{siteDescription}" th:placeholder="#{field.siteDescription}" type="text"
                   class="form-control form-control-user" aria-describedby="siteDescriptionHelp">
            <small class="form-text text-muted ml-2" id="siteDescriptionHelp">用一句话描述你的网站吧~</small>
        </div>
        <div class="form-group">
            <label th:for="${#ids.next('username')}" th:text="#{field.username}"
                   class="sr-only">用户名</label>
            <input th:field="*{username}" th:placeholder="#{field.username}" type="text"
                   class="form-control form-control-user"
                   aria-describedby="usernameHelp">
            <small class="form-text text-muted ml-2" id="usernameHelp">用户名仅能使用字母、数字和下划线</small>
        </div>
        <div class="form-group">
            <label th:for="${#ids.next('password')}" th:text="#{field.password}"
                   class="sr-only">密码</label>
            <input th:field="*{password}" th:placeholder="#{field.password}" type="text"
                   class="form-control form-control-user" name="password"
                   placeholder="密码">
            <small class="form-text text-muted ml-2">密码用于网站的登录，请安全的保管</small>
        </div>
        <div class="form-group">
            <label th:for="${#ids.next('email')}" th:text="#{field.email}"
                   class="sr-only">电子邮箱</label>
            <input th:field="*{email}" th:placeholder="#{field.email}" type="email" id="installEmail"
                   class="form-control form-control-user" name="email">
            <small class="form-text text-muted ml-2">请正确填写电子邮箱，用于登录和找回密码。</small>
        </div>
        <button th:text="#{install.submit}" type="submit"
                class="btn btn-primary btn-user btn-block">
            开始安装
        </button>
    </form>
</div>

</body>

</html>
