<!DOCTYPE html>
<html th:replace="~{admin/layout/out :: layout(~{::title}, ~{::#th-section})}" lang="zh"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>登录 ‹ yearliny — Yogo</title>
</head>

<body>

<div class="p-5" id="th-section">
    <div class="text-center">
        <h1 th:text="#{login.title}" class="h4 text-gray-900 mb-4">欢迎回来!</h1>
    </div>
    <form th:action="@{/yg-login}" class="user" method="post">
        <div th:if="${param.error}" th:text="#{login.error}" class="alert alert-danger" role="alert"></div>
        <div th:if="${param.logout}" th:text="#{login.logoutSuccess}" class="alert alert-success" role="alert"></div>
        <div class="form-group">
            <input th:placeholder="#{field.username}" type="text" class="form-control form-control-user" name="username"
                   autofocus/>
        </div>
        <div class="form-group">
            <input th:placeholder="#{field.password}" type="password" class="form-control form-control-user"
                   name="password"/>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox small">
                <input type="checkbox" class="custom-control-input" id="rememberMe">
                <label th:text="#{field.rememberMe}" class="custom-control-label" for="rememberMe">记住我</label>
            </div>
        </div>
        <button th:text="#{login.submit}" type="submit" class="btn btn-primary btn-user btn-block">
            登录
        </button>
    </form>
    <hr>
    <div sec:authorize="isAuthenticated()" class="text-center">
        <a class="small" href="#">← 返回到[[${#authentication.name}]]</a>
    </div>
</div>

</body>

</html>
