<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="common/base :: admin_header(~{::title}, ~{})">

    <title th:text="#{login.title} + ' - Yogo'">Yogo - login</title>

</head>

<body class="bg-gradient-primary">

<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4" th:text="#{login.title}">Welcome Back!</h1>
                                </div>
                                <div class="alert alert-warning"
                                     th:if="${session[SPRING_SECURITY_LAST_EXCEPTION]?.message}"
                                     th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}" role="alert">
                                    A simple warning alert—check it out!
                                </div>
                                <div class="alert alert-success" th:if="${param.logout}"
                                     th:text="#{login.logout-sucess}" role="alert">
                                    A simple warning alert—check it out!
                                </div>
                                <form method="post" th:action="@{/yg-login}" class="user">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user"
                                               th:name="username"
                                               placeholder="User Name" th:placeholder="#{form.username}" autofocus
                                               required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               th:name="password" placeholder="Password"
                                               th:placeholder="#{form.password}" required>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" th:name="remember_me"
                                                   id="rememberMeCheck">
                                            <label class="custom-control-label" for="rememberMeCheck"
                                                   th:text="#{form.remember-me}">Remember Me</label>
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Login"
                                           th:value="#{login.submit}"/>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="#" th:text="#{form.forgot-password}">Forgot
                                        Password</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="#" th:text="#{register.title}">Create an
                                        Account!</a>
                                </div>
                                <div class="text-center" sec:authorize="isAuthenticated()">
                                    <a class="small" href="#" th:href="@{/yg-admin/}">←
                                        返回到<span sec:authentication="name">Bob</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div th:replace="common/base :: admin_footer(_)"></div>

</body>

</html>
