<!DOCTYPE html>
<html th:replace="~{admin/layout/dashboard :: layout(~{::title}, 'media-new', ~{::#th-section})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="zh">

<head>
    <title>上传新媒体文件 ‹ yearliny — Yogo</title>
</head>

<body>

<div class="row" id="th-section">
    <div class="col-md-7">
        <form action="#" method="post">
            <div class="custom-file mb-4">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">选择文件</label>
                <small class="text-muted">最大上传文件大小：2 MB。</small>
            </div>
            <button type="submit" class="btn btn-primary">上传</button>
        </form>
    </div>
</div>

</body>

</html>
