<!DOCTYPE html>
<html lang="zh-CN" th:replace="~{layout/admin :: layout(~{::title}, ~{::div.container-fluid}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发表新文章</title>

    <link rel="stylesheet" th:href="@{/yg-content/admin/vendor/simplemde/simplemde.min.css}">
</head>
<body>
<!-- Begin Page Content -->
<div class="container-fluid">

    <form th:action="@{/yg-admin/post-new}">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <input class="form-control form-control-lg mb-2" name="title" type="text">
                <textarea cols="30" id="post" name="body" rows="10"></textarea>
            </div>
            <div class="col-md-3">
                <button class="form-control btn-primary" type="submit">提交</button>
                <div class="form-check" th:each="cate : ${category}">
                    <input checked class="form-check-input" id="cate-1" name="category" type="radio" value="默认分类">
                    <label class="form-check-label" for="cate-1">
                        默认分类
                    </label>
                </div>
            </div>
        </div>
    </form>

</div>
<script th:src="@{/yg-content/admin/vendor/simplemde/simplemde.min.js}"></script>
<script>
    let md = new SimpleMDE();
</script>
</body>
</html>