<!DOCTYPE html>
<html lang="zh-CN" th:replace="~{layout/admin :: layout(~{::title}, ~{::.container-fluid}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发表新文章</title>

    <link rel="stylesheet" th:href="@{/yg-content/admin/vendor/simplemde/simplemde.min.css}">
</head>
<body>
<!-- Begin Page ContentDO -->
<div class="container-fluid">

    <form th:action="@{/yg-admin/post-new}" th:object="${post}">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <input class="form-control form-control-lg mb-2" id="post-title" type="text">
                <textarea cols="30" id="post-body" name="body" rows="10"></textarea>
            </div>
            <div class="col-md-3">
                <button class="form-control btn-primary mb-3" id="post-submit">
                    <span aria-hidden="true" class="spinner-border spinner-border-sm mr-1" hidden
                          id="post-submit-spinner" role="status"></span>发表
                </button>
                <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a aria-controls="post-category" aria-expanded="true" class="d-block card-header py-3"
                       data-toggle="collapse"
                       href="#post-category-body" role="button">
                        <h6 class="m-0 font-weight-bold text-primary">分类</h6>
                    </a>
									<!-- Card ContentDO - Collapse -->
                    <div class="collapse show">
                        <div class="card-body" id="post-category-body"></div>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a aria-controls="post-category" aria-expanded="true" class="d-block card-header py-3"
                       data-toggle="collapse"
                       href="#post-tag-body" role="button">
                        <h6 class="m-0 font-weight-bold text-primary">标签</h6>
                    </a>
									<!-- Card ContentDO - Collapse -->
                    <div class="collapse show">
                        <div class="card-body" id="post-tag-body"></div>
                    </div>
                </div>

            </div>
        </div>
    </form>

</div>
<!-- End Page ContentDO -->
<script id="tpl-category" type="text/template">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="post-category" id="editor-post-cate-{mid}" value="{mid}">
        <label class="form-check-label" for="editor-post-cate-{mid}">{name}</label>
    </div>
</script>
<script id="tpl-tag" type="text/template">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="post-tag" id="editor-post-tag-{mid}" value="{mid}">
        <label class="form-check-label" for="editor-post-tag-{mid}">{name}</label>
    </div>
</script>
<script th:src="@{/yg-content/admin/vendor/simplemde/simplemde.min.js}" type="text/javascript"></script>
<script>
    let md = new SimpleMDE({
        spellChecker: false
    });

    $(
        function () {
            $.getJSON('/yg-json/categories/', function (data) {
                let tpl = document.getElementById('tpl-category').innerHTML;
                let category = document.getElementById('post-category-body');
                let html = '';
                for (const c of data) {
                    html += tpl.replace(/{mid}/g, c.mid).replace(/{name}/g, c.name);
                }
                category.innerHTML = html;
            });
            $.getJSON('/yg-json/post_tag/', function (data) {
                let tpl = document.getElementById('tpl-tag').innerHTML;
                let tag = document.getElementById('post-tag-body');
                let html = '';
                for (const c of data) {
                    html += tpl.replace(/{mid}/g, c.mid).replace(/{name}/g, c.name);
                }
                tag.innerHTML = html;
            });

            $('#post-submit').click(function (event) {
                document.getElementById('post-submit-spinner').hidden = false;
                let data = {
                    title: $('#post-title')[0].value,
                    body: md.value(),
                    metasMid: []
                };
                data.metasMid.push($('input[name=post-category]:checked')[0].value);
                for (let t of $('input[name=post-tag]:checked')) {
                    data.metasMid.push(t.value)
                }

                let csrfHeader = $("meta[name='_csrf_header']").attr("content");
                let csrfToken = $("meta[name='_csrf']").attr("content");
                let headers = {};
                headers[csrfHeader] = csrfToken;
                $.ajax('/yg-json/posts/', {
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    headers: headers,
                    success: function (res) {
                        alert('文章发表成功：' + res.cid)
                    },
                    error: function () {
                        alert('fail to post')
                    }

                }).always(function () {
                    document.getElementById('post-submit-spinner').hidden = true;
                });

                event.preventDefault();
            })
        }
    )
</script>

</body>
</html>