<!DOCTYPE html>
<!--/* title 是 head 的title，sidebar 指定要激活哪个项目，content 是内容的主体 */-->
<html th:fragment="layout (title, sidebar, content)" lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:replace="${title}">媒体库 ‹ yearliny — Yogo</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/assets/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/assets/css/sb-admin-2.css}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper"
     th:with="mediaBar=${'media media-new'},
     pageBar=${'page-all page-edit'},
     postBar=${'post-all post-edit post-cate post-tag'}">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <li class="nav-item dropdown no-arrow">
            <a class="sidebar-brand d-flex align-items-center justify-content-center dropdown-toggle"
               data-toggle="dropdown"
               href="index.html">
                <img class="img-profile rounded-circle"
                     th:src="${user.getGravatar(40)}" alt="avatar" width="40">
                <div th:text="${user.name}" class="sidebar-brand-text mx-3">yearliny</div>
            </a>

            <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    个人资料
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    注销
                </a>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li th:classappend="${sidebar=='index'} ? 'active'" class="nav-item">
            <a class="nav-link" th:href="@{/yg-admin/}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>仪表盘</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            内容管理
        </div>

        <!-- Nav Item - 文章 -->
        <li th:classappend="${#strings.contains(postBar, sidebar)} ? 'active'" class="nav-item">
            <a class="nav-link collapsed" th:href="@{/yg-admin/post}" data-toggle="collapse" data-target="#collapsePost"
               aria-expanded="true"
               aria-controls="collapsePost">
                <i class="fas fa-fw fa-pen"></i>
                <span>文章</span>
            </a>
            <div th:classappend="${#strings.contains(postBar, sidebar)} ? 'show'" id="collapsePost" class="collapse"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a th:href="@{/yg-admin/post}" th:classappend="${sidebar=='post-all'} ? 'active'"
                       class="collapse-item">所有文章</a>
                    <a th:href="@{/yg-admin/edit}" th:classappend="${sidebar=='post-edit'} ? 'active'"
                       class="collapse-item">写文章</a>
                    <a th:href="@{/yg-admin/meta?type=CATEGORY}" th:classappend="${sidebar=='post-cate'} ? 'active'"
                       class="collapse-item">分类目录</a>
                    <a th:href="@{/yg-admin/meta?type=TAG}" th:classappend="${sidebar=='post-tag'} ? 'active'"
                       class="collapse-item">标签</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - 页面 -->
        <li th:classappend="${#strings.contains(pageBar, sidebar)} ? 'active'" class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage"
               aria-expanded="true"
               aria-controls="collapsePage">
                <i class="fas fa-fw fa-file"></i>
                <span>页面</span>
            </a>
            <div th:classappend="${#strings.contains(pageBar, sidebar)} ? 'show'" id="collapsePage" class="collapse"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a th:classappend="${sidebar=='page-new'} ? 'active'" class="collapse-item"
                       href="buttons.html">所有页面</a>
                    <a th:classappend="${sidebar=='page-edit'} ? 'active'" class="collapse-item"
                       href="cards.html">新建页面</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - 媒体库 -->
        <li class="nav-item" th:classappend="${#strings.contains(mediaBar, sidebar)} ? 'active'">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMedia"
               aria-expanded="true"
               aria-controls="collapseMedia">
                <i class="fas fa-fw fa-images"></i>
                <span>媒体</span>
            </a>
            <div th:classappend="${#strings.contains(mediaBar, sidebar)} ? 'show'" id="collapseMedia" class="collapse"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a th:classappend="${sidebar=='media'} ? 'active'" class="collapse-item"
                       th:href="@{/yg-admin/media}">媒体库</a>
                    <a th:classappend="${sidebar=='media-new'} ? 'active'" class="collapse-item"
                       th:href="@{/yg-admin/media-new}">添加</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - 评论 -->
        <li th:classappend="${sidebar=='comment'} ? 'active'" class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="fas fa-fw fa-comment"></i>
                <span>评论</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            博客管理
        </div>

        <!-- Nav Item - 用户管理 -->
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseUser" aria-expanded="true"
               aria-controls="collapseUser">
                <i class="fas fa-fw fa-users-cog"></i>
                <span>用户</span>
            </a>
            <div id="collapseUser" class="collapse" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="login.html">所有用户</a>
                    <a class="collapse-item" href="login.html">添加用户</a>
                    <a class="collapse-item" href="login.html">我的资料</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - 博客设置 -->
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseOptions" aria-expanded="true"
               aria-controls="collapseOptions">
                <i class="fas fa-fw fa-cogs"></i>
                <span>设置</span>
            </a>
            <div id="collapseOptions" class="collapse" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="login.html">常规</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>


            <!-- Begin Page Content -->
            <th:block th:replace="${content}">Content Example</th:block>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; yogo 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/assets/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/assets/js/sb-admin-2.min.js}"></script>

<!--/* 如果是文章、页面编辑页面，就引用编辑器依赖*/-->
<div th:replace="${#strings.contains('post-edit page-edit', sidebar)} ? ~{/admin/edit::assets}"></div>

</body>

</html>
