<!DOCTYPE html>
<html lang="zh-CN" th:fragment="layout(title, main, header, script)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title th:replace="${title}">Yogo - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/yg-content/admin/vendor/fontawesome-free/css/all.min.css}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/yg-content/admin/css/sb-admin-2.css}">

    <th:block th:replace="${header}"/>
</head>
<body class="sidebar-toggled">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="common/base :: sidebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="common/base :: topbar"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div th:replace="${main}">This is main area</div>
            <!-- End of Begin Page Content /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="common/footer :: admin"></footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/yg-content/admin/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/yg-content/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/yg-content/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{/yg-content/admin/js/sb-admin-2.min.js}"></script>
<!-- add custom script -->
<script th:src="@{/yg-content/admin/vendor/chart.js/Chart.min.js}"></script>

<th:block th:replace="${script}"/>

</body>
</html>