<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>yearliny - Thought, story and ideas.</title>

    <link rel="icon" href="img/favicon.ico">
    <link href="css/hyacinth.css" rel="stylesheet">

    <!-- third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/icon/logo-2_0-144x144.png">
    <!-- iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icon/logo-2_0-114x114.png">
    <!-- first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icon/logo-2_0-72x72.png">
    <!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices: 57x57-->
    <link rel="apple-touch-icon-precomposed" href="img/icon/logo-2_0-57x57.png">
    <!-- basic favicon 32x32-->
    <link rel="shortcut icon" href="img/icon/logo-2_0-32x32.png">
    <link href="vendor/fontawesome/css/all.min.css" media="all" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="site-navigation">
    <div class="container-fluid">
        <img alt="logo" src="img/logo.png" width="50">
        <a href="#" class="navbar-brand ml-3">yearliny</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggler">
            <i class="navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Post</a></li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead shadow-sm mb-5" style="background-image: url(img/Writing.jpg)">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 class="display-1 font-weight-bolder mb-4">yearliny</h1>
                    <span class="subheading">Thought, story and ideas.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container" id="main">
    <div class="row">
        <div class="col-lg-8">
            <article class="card shadow mb-4">
                <div class="card-body">
                    <a class="card-text text-muted">
                        <small><time datetime="2019-03-22">2019年3月22日</time></small>
                    </a>
                    <h2 class="card-title"><a href="post.html" rel="bookmark">使用Win10内置SSH客户端</a></h2>
                    <p class="card-text">现在才知道，在 Windows 10 April 2018 Update 更新后，SSH-Client
                        已经默认是操作系统的内置功能了，所以无需其他配置就可以直接使用 ssh、scp
                        等命令，对于开发者来说是一件不错的事情，毕竟在弱需求的情况下，可以替代 Xshell 等客户端了。</p>
                    <a class="badge badge-pill badge-warning" href="#">生活健康</a>
                    <a class="badge badge-pill badge-warning" href="#">电脑技术</a>
                    <a class="badge badge-pill badge-warning" href="#">随笔</a>
                    <a class="float-right" title="Read More" href="#">阅读更多</a>
                </div>
            </article>
            <article class="card shadow mb-4">
                <div class="card-body">
                    <a class="card-text text-muted">
                        <small>
                            <time datetime="2019-03-22">22 Mar 2019</time>
                        </small>
                    </a>
                    <h2 class="card-title"><a href="#" rel="bookmark">使用Win10内置SSH客户端</a></h2>
                    <p class="card-text">现在才知道，在 Windows 10 April 2018 Update 更新后，SSH-Client
                        已经默认是操作系统的内置功能了，所以无需其他配置就可以直接使用 ssh、scp
                        等命令，对于开发者来说是一件不错的事情，毕竟在弱需求的情况下，可以替代 Xshell 等客户端了。</p>
                    <a class="badge badge-pill badge-warning" href="#">生活健康</a>
                    <a class="badge badge-pill badge-warning" href="#">电脑技术</a>
                    <a class="badge badge-pill badge-warning" href="#">随笔</a>
                    <a class="float-right" title="Read More" href="#">阅读更多</a>
                </div>
            </article>
            <article class="card shadow mb-4">
                <div class="card-body">
                    <a class="card-text text-muted">
                        <small>
                            <time datetime="2019-03-22">22 Mar 2019</time>
                        </small>
                    </a>
                    <h2 class="card-title"><a href="#" rel="bookmark">使用Win10内置SSH客户端</a></h2>
                    <p class="card-text">现在才知道，在 Windows 10 April 2018 Update 更新后，SSH-Client
                        已经默认是操作系统的内置功能了，所以无需其他配置就可以直接使用 ssh、scp
                        等命令，对于开发者来说是一件不错的事情，毕竟在弱需求的情况下，可以替代 Xshell 等客户端了。</p>
                    <a class="badge badge-pill badge-warning" href="#">生活健康</a>
                    <a class="badge badge-pill badge-warning" href="#">电脑技术</a>
                    <a class="badge badge-pill badge-warning" href="#">随笔</a>
                    <a class="float-right" title="Read More" href="#">阅读更多</a>
                </div>
            </article>

            <nav class="my-5" aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">上一页</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">下一页</a>
                    </li>
                </ul>
            </nav>

        </div>
        <!-- 侧边栏 -->
        <aside class="col-lg-4">

            <section class="card widget shadow mb-4">
                <div class="progress">
                    <div class="progress-bar bg-dark" style="width: 35%" ></div>
                    <div class="progress-bar bg-primary" style="width: 25%" ></div>
                    <div class="progress-bar bg-warning" style="width: 20%"></div>
                    <div class="progress-bar bg-danger" style="width: 20%"></div>
                </div>
                <div class="card-body">
                    <h2 class="card-title"><i class="far fa-sticky-note mr-1"></i>近期文章</h2>
                    <ul>
                        <li>
                            <a href="#">使用Win10内置SSH客户端</a>
                        </li>
                        <li>
                            <a href="#">Win10开机自动登陆账户</a>
                        </li>
                        <li>
                            <a href="#">交流方式变革的设想</a>
                        </li>
                        <li>
                            <a href="#">Ubuntu18.04 安装 Mysql</a>
                        </li>
                        <li>
                            <a href="#">让Win10 UWP应用使用系统代理</a>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="card widget shadow mb-4">
                <div class="progress">
                    <div class="progress-bar bg-dark" style="width: 35%" ></div>
                    <div class="progress-bar bg-primary" style="width: 25%" ></div>
                    <div class="progress-bar bg-warning" style="width: 20%"></div>
                    <div class="progress-bar bg-danger" style="width: 20%"></div>
                </div>
                <div class="card-body">
                    <h2 class="card-title"><i class="far fa-folder mr-1"></i>分类目录</h2>
                    <ul>
                        <li><a href="#">健康生活</a>
                        </li>
                        <li><a href="#">思考设想</a>
                        </li>
                        <li><a href="#">电脑技巧</a>
                        </li>
                        <li><a href="#">读书笔记</a>
                        </li>
                        <li><a href="#">随笔小诗</a>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="card widget shadow mb-4">
                <div class="progress">
                    <div class="progress-bar bg-dark" style="width: 35%" ></div>
                    <div class="progress-bar bg-primary" style="width: 25%" ></div>
                    <div class="progress-bar bg-warning" style="width: 20%"></div>
                    <div class="progress-bar bg-danger" style="width: 20%"></div>
                </div>
                <div class="card-body">
                    <h2 class="card-title"><i class="far fa-calendar-alt mr-1"></i>文章归档</h2>
                    <ul>
                        <li><a href="https://yuan.ga/2018/07/">2018年七月</a></li>
                        <li><a href="https://yuan.ga/2018/06/">2018年六月</a></li>
                        <li><a href="https://yuan.ga/2018/05/">2018年五月</a></li>
                        <li><a href="https://yuan.ga/2018/04/">2018年四月</a></li>
                        <li><a href="https://yuan.ga/2018/03/">2018年三月</a></li>
                        <li><a href="https://yuan.ga/2018/02/">2018年二月</a></li>
                        <li><a href="https://yuan.ga/2018/01/">2018年一月</a></li>
                        <li><a href="https://yuan.ga/2017/12/">2017年十二月</a></li>
                        <li><a href="https://yuan.ga/2017/11/">2017年十一月</a></li>
                    </ul>
                </div>
            </section>

        </aside>
    </div>
</div>

<footer class="site-footer">
    <div class="container-fluid p-5 border-top">
        <div class="row">
            <div class="mx-auto">
                <ul class="text-center list-inline">
                    <li class="list-inline-item">
                        <a href="mailto:yealriny@outlook.com">
                          <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/yearliny">
                          <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/yearliny">
                          <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                    </li>
                </ul>
                <div class="text-muted text-center">
                    Copyright © yearliny 2019
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="vendor/jquery/jquery-3.3.1.slim.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/navigation.js"></script>

</body>
</html>